fastapi
uvicorn
sqlalchemy
psycopg2-binary
passlib
python-multipart
jinja2
httpx
groq
mistralai
google-genai
google-generativeai
sendgrid
mercadopago
apscheduler
langdetect
reportlab
pillow
cohere
aiofiles
fastapi-mail
email-validator
bcrypt
qrcode==8.2
